# Service 2
apiVersion: v1
kind: Service
metadata:
  name: envoy-secondary
  namespace: default
  annotations:
    external-dns.alpha.kubernetes.io/hostname: gitea.ellin.net
    metallb.universe.tf/allow-shared-ip: gitea-shared
spec:
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8080
  - name: https
    port: 443
    protocol: TCP
    targetPort: 8443
  selector:
    app: envoy
  sessionAffinity: None
  type: LoadBalancer
